<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h5>信息咨询</h5>
        <ul class="list-unstyled">
          <li>
            <a href="">关于我们</a>
          </li>
          <li>
            <a href="">最新公告</a>
          </li>
          <li>
            <a href="">隐私政策</a>
          </li>
          <li>
            <a href="">条款及条件</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>客户服务</h5>
        <ul class="list-unstyled">
          <li>
            <a href="">联系我们</a>
          </li>
          <li>
            <a href="">退换服务</a>
          </li>
          <li>
            <a href="">网站地图</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>其他</h5>
        <ul class="list-unstyled">
          <li>
            <a href="">品牌专区</a>
          </li>
          <li>
            <a href="">礼品券</a>
          </li>
          <li>
            <a href="">加盟会员</a>
          </li>
          <li>
            <a href="">特别优惠</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>会员中心</h5>
        <ul class="list-unstyled">
          <li>
            <a href="">会员中心</a>
          </li>
          <li>
            <a href="">历史订单</a>
          </li>
          <li>
            <a href="">收藏列表</a>
          </li>
          <li>
            <a href="">订阅咨询</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h5>联系我们</h5>
        <ul class="list-unstyled">
          <li>
            <div class="icon">
              <span class="fa fa-map-marker">&nbsp;</span>
            </div>
            <div class="text">科技有限公司</div>
          </li>
          <li>
            <div class="icon">
              <span class="fa fa-phone">&nbsp;</span>
            </div>
            <div class="text">123456789</div>
          </li>
          <li>
            <div class="icon">
              <span class="fa fa-envelope">&nbsp;</span>
            </div>
            <div class="text">kang@kang.com</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="powered">
      BuyPlush(败家Shopping) &copy; 2016
      <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备12345678号</a>
    </div>
  </div>
  <div class="go-top">
    <a href="#" class="scroll-top"> <i class="fa fa-angle-up"></i>
      TOP
    </a>
  </div>
</footer>