<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="logo">
          <a href="">
            <img src="__PUBLIC__/Home/image/catalog/logo3.png" title="BuyPlus(败家Shopping）" alt="BuyPlus(败家Shopping）" class="img-responsive" />
          </a>
        </div>
      </div>
      <div class="col-sm-8 mini-cart">
        <div id="cart">
          <a href="" class="cart-info">
            <span class="cart-icon"> <i class="fa fa-shopping-cart"></i>
            </span>
            <span id="cart-total">0 个商品 - ￥0.00</span>
          </a>
          <ul class="cart-content dropdown-menu hidden-sm hidden-xs">
            <li>
              <p class="text-center empty">您的购物车内没有商品！</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>