<extend name="Layout/Home" />
<block name="content">
<div class="container">

	<ul class="breadcrumb">

		<li><a href=""><i class="fa fa-home"></i></a></li>

		<volist name="breadcrumb" id="crumb">
		<li><a href="{:U('/category/'.$crumb['category_id'])}">{$crumb['title']}</a>
		</li>
		</volist>
		<li><a href="#">{$goods['name']}</a>
	</ul>
	<div class="row">
		<div class="product-detail col-sm-12" id="content">
			<div class="row">

				<div class="col-sm-5">
					<!--elevate zoom start-->
					<div class="elevate-zoom-wrapper">

						<div class="elevate-zoom-preview">
							<assign name="first" value="$image_list[0]" />
							<a href="javascript:;"> <img class="img-responsive"
								data-zoom-image="__PUBLIC__/Gallery/{$first['image_big']}"
								src="__PUBLIC__/Gallery/{$first['image_medium']}"
								id="elevate-zoom">
							</a>
						</div>

						<div id="product-thumbnail-gallery">
							<volist name="image_list" id="image"> <a
								data-zoom-image="__PUBLIC__/Gallery/{$image['image_big']}"
								data-image="__PUBLIC__/Gallery/{$image['image_medium']}"
								data-upate="" class="elevatezoom-gallery " rel="fancybox"
								href=""><img width="60"
								src="__PUBLIC__/Gallery/{$image['image_small']}"></a> </volist>
						</div>

					</div>
					<!--elevate zoom end-->
				</div>




				<div class="col-sm-7 product-info">
					<h1>{$goods['name']}</h1>
					<ul class="product-brief-wrapper">
						<li><span>型 号</span>{$goods['upc']}</li>
						<li><span>奖励积分</span>50</li>
						<li><span>库存状态</span>{$goods['status_title']}</li>
					</ul>
					<div class="product-price-wrapper">
						<span class="price-new">￥{$goods['price']}</span> <span
							class="price-old">￥8,766.00</span> <span>消费积分 100</span>
					</div>
					<hr>
			<form action="{:U('Home/Checkout/addCart')}" method="post">		
					<div id="product">
						<h3>选项</h3>
						<volist name="option_list" id="option">
							<div class="form-group required">
								<label class="control-label">{$option['option_title']}</label>
								<div id="input-option230">
									<volist name="option['list']" id="op">
										<label class="radio"> <input type="radio" value="{$op['gav_id']},{$op['attr_value_id']}"
											name="option[{$op['ga_id']}]"> <span>{$op['attr_value']}</span>
										</label>
									</volist>
								</div>
							</div>
						</volist>
					
						<div class="product-cart-action">
							<div class="quantity-input-wrapper">
								<input type="text" class="form-control" id="input-quantity"
									placeholder="数量" value="1" name="quantity"> <a
									class="quantity-up" href="#">+</a> <a class="quantity-down"
									href="#">-</a>
							</div>
							<button class="btn btn-primary" data-loading-text="正在加载..."
								id="button-cart" type="submit">加入购物车</button>
							<input type="hidden" value="{$goods_id}" name="goods_id">
						</div>
					</div>
			</form>
					<div class="wishlist-share">
						<a onclick="wishlist.add('61');"><i class="fa fa-heart"></i>
							收藏</a> <a onclick="compare.add('61');"><i class="fa fa-link"></i>
							对比</a>
					</div>
					<div class="rating">
						<p>
							<span class="fa fa-stack"><i
								class="fa fa-star off fa-stack-1x"></i></span> <span
								class="fa fa-stack"><i class="fa fa-star off fa-stack-1x"></i></span>
							<span class="fa fa-stack"><i
								class="fa fa-star off fa-stack-1x"></i></span> <span
								class="fa fa-stack"><i class="fa fa-star off fa-stack-1x"></i></span>
							<span class="fa fa-stack"><i
								class="fa fa-star off fa-stack-1x"></i></span> <a
								onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"
								href="">0 评价</a> / <a
								onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"
								href="">如果您对本商品有什么问题或经验，请在此留下您的意见和建议！</a>
						</p>
						<hr>
						<!-- Baidu Share BEGIN -->
						<div class="bdsharebuttonbox">
							<a data-cmd="more" class="bds_more" href="#">分享到：</a><a
								title="分享到QQ空间" data-cmd="qzone" class="bds_qzone" href="#">QQ空间</a><a
								title="分享到新浪微博" data-cmd="tsina" class="bds_tsina" href="#">新浪微博</a><a
								title="分享到腾讯微博" data-cmd="tqq" class="bds_tqq" href="#">腾讯微博</a><a
								title="分享到人人网" data-cmd="renren" class="bds_renren" href="#">人人网</a><a
								title="分享到微信" data-cmd="weixin" class="bds_weixin" href="#">微信</a>
						</div>
						<script>
							window._bd_share_config = {
								"common" : {
									"bdSnsKey" : {},
									"bdText" : "",
									"bdMini" : "2",
									"bdMiniList" : false,
									"bdPic" : "",
									"bdStyle" : "0",
									"bdSize" : "16"
								},
								"share" : {
									"bdSize" : 16
								}
							};
							with (document)
								0[(getElementsByTagName('head')[0] || body)
										.appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='
										+ ~(-new Date() / 36e5)];
						</script>
						<!-- Baidu Share END -->
					</div>
				</div>
			</div>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#tab-description">商品描述</a></li>
				<li><a data-toggle="tab" href="#tab-specification">商品属性</a></li>
				<li><a data-toggle="tab" href="#tab-review">商品评价 (已有0条评价)</a></li>
			</ul>
			<div class="tab-content">
				<div id="tab-description" class="tab-pane active">
					<img
						src="http://demo.opencart.cn/image/catalog/gd/product/yanjing3-xq1.jpg">
				</div>
				<div id="tab-specification" class="tab-pane">
					<table class="table table-bordered">
						<thead>
							<tr>
								<td colspan="2"><strong>基本属性</strong></td>
							</tr>
						</thead>
						<tbody>
							<volist name="attr_list" id="attr">
							<tr>
								<td>{$attr['attr_title']}</td>
				                <if  condition="in_array($attr['attr_type_title'],['select','select_multiple'])">
								<td>{$attr['attribute_value']}</td>
								<elseif condition="$attr['attr_type_title'] eq 'text'"/>
								<td>{$attr['gav_value']}</td>
								</if>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>
				<div id="tab-review" class="tab-pane">
					<form id="form-review" class="form-horizontal">
						<div id="review">
							<p>此商品暂无评论。</p>
						</div>
						<h2>如果您对本商品有什么问题或经验，请在此留下您的意见和建议！</h2>
						<div class="form-group required">
							<div class="col-sm-12">
								<label for="input-name" class="control-label">您的姓名</label> <input
									type="text" class="form-control" id="input-name" value=""
									name="name">
							</div>
						</div>
						<div class="form-group required">
							<div class="col-sm-12">
								<label for="input-review" class="control-label">您的评价</label>
								<textarea class="form-control" id="input-review" rows="5"
									name="text"></textarea>
								<div class="help-block">
									<span class="text-danger">注意</span> 评论内容不支持HTML代码！
								</div>
							</div>
						</div>
						<div class="form-group required">
							<div class="col-sm-12">
								<label class="control-label">顾客评分</label> &nbsp;&nbsp;&nbsp;
								差评&nbsp; <input type="radio" value="1" name="rating">
								&nbsp; <input type="radio" value="2" name="rating">
								&nbsp; <input type="radio" value="3" name="rating">
								&nbsp; <input type="radio" value="4" name="rating">
								&nbsp; <input type="radio" value="5" name="rating">
								&nbsp;好评
							</div>
						</div>
						<div class="buttons clearfix">
							<div class="pull-right">
								<button class="btn btn-primary" data-loading-text="正在加载..."
									id="button-review" type="button">继续</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/Home/javascript/jquery.elevateZoom.min.js"
	type="text/javascript"></script> <script type="text/javascript">
	<!--
		$(document).ready(function() {
			if ($(window).width() >= 768) {
				$('#elevate-zoom').elevateZoom({
					zoomWindowFadeIn : 500,//镜头窗口淡入速度 
					zoomWindowFadeOut : 500,//镜头窗口淡出速度 
					lensFadeIn : 500,//透镜淡入速度 
					lensFadeOut : 500,//透镜淡出速度 
					// lensShape: 'basic',
					// lensSize: 150,
					zoomWindowOffetx : 10,
					// zoomWindowWidth: 450,
					// zoomWindowHeight: 450,
					borderSize : 1,
					borderColour : '#eaeaea',
					gallery : 'product-thumbnail-gallery',
					galleryActiveClass : 'active',
					cursor : 'pointer',
				});

				$('#elevate-zoom').bind('click', function(e) {
					var ez = $('#elevate-zoom').data('elevateZoom');
					$.fancybox(ez.getGalleryList());
					return false;
				});
			} else {
				$('.elevatezoom-gallery').fancybox();
				$('.elevate-zoom-preview a').bind('click', function(e) {
					$('.elevatezoom-gallery').eq(0).trigger('click');
					return false;
				});
			}
		});
	//-->
	</script> <script type="text/javascript"><!--
      $('#button-cart').on('click', function() {
      });
      //--></script> <script type="text/javascript"><!--
      $('#review').delegate('.pagination a', 'click', function(e) {
          e.preventDefault();

          $('#review').fadeOut('slow');

          $('#review').load(this.href);

          $('#review').fadeIn('slow');
      });

      // $('#review').load('');

      $('#button-review').on('click', function() {
      });

      $("#product select[name*='option']").change(function(){
      });

      $("#product input[type='radio'], #product input[type='checkbox']").on("click",function(){
      });

      $('.quantity-input-wrapper a').click(function(e){
        e.preventDefault();
        if( $(this).hasClass('quantity-up')) {
          $('#input-quantity').val( parseInt($('#input-quantity').val()) + 1 );
        } else {
          if( parseInt($('#input-quantity').val())  > 1 ) {
            $('#input-quantity').val( parseInt($('#input-quantity').val()) - 1 );
          }
        }
      });

      $("#product input[name*=\'quantity\']").keyup(function() {
      });

      $("#product input[name*=\'quantity\']").on("focusout", function(){
      });

      function refresh_price()
      {

      }
      //--> </script> </block>