<extend name="Layout/Home" />
<block name="content">
<div class="container">
	<div class="row">
		<div id="content" class="col-sm-12">
			<div class="content_top">
				<div id="slideshow0" class="owl-carousel slideshow">
					<div class="item">
						<a href=""> <img
							src="__PUBLIC__/Home/image/banner/glasses-banner2-1140x500.jpg"
							alt="glasses-banner2" class="img-responsive" />
						</a>
					</div>
					<div class="item">
						<a href=""> <img
							src="__PUBLIC__/Home/image/banner/glasses-banner1-1140x500.jpg"
							alt="glasses-banner1" class="img-responsive" />
						</a>
					</div>
				</div>
				<script type="text/javascript">
				<!--
					$(document)
							.ready(
									function() {
										$('#slideshow0')
												.owlCarousel(
														{
															items : 1, //显示数量
															loop : true, //循环滚动
															autoplay : true, //自动播放
															autoplayTimeout : 2000, //自动切换时间（毫秒）
															autoplayHoverPause : true, //鼠标移动到图片上面时，是否暂停自动播放
															autoplaySpeed : 300, //自动播放图片切换动画时长
															navSpeed : 400, //左右切换按钮图片切换动画时长
															dotsSpeed : 300, //点击图片下方黑点图片切换动画时长
															nav : true, //是否显示左右切换按钮
															navText : [
																	'<i class="fa fa-angle-left"></i>',
																	'<i class="fa fa-angle-right"></i>' ], //左右切换按钮图标
															dots : true, //是否显示图片下方黑点
														});
									});
					-->
				</script>
				<h2 class="widget-title">
					<span>推荐商品</span>
				</h2>
				<div class="row">
					<div
						class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="product-wrapper">
							<div class="product-image">
								<a href=""> <img
									src="__PUBLIC__/Home/image/product/yanjing2-300x340.jpg"
									alt="普利邦欧美炫彩墨镜男个性大框太阳镜男士潮偏光驾驶镜男眼镜男士"
									title="普利邦欧美炫彩墨镜男个性大框太阳镜男士潮偏光驾驶镜男眼镜男士" class="img-responsive" />
								</a>
							</div>
							<div class="product-info">
								<div class="product-name">
									<a href="">普利邦欧美炫彩墨镜男个性大框太阳镜男士潮偏光驾驶镜男眼镜男士</a>
								</div>
								<div class="product-description">
									<p>..</p>
								</div>
								<div class="product-rating">
									<span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span>
								</div>
								<div class="product-price">
									<span class="price-new">￥5,379.00</span> <span
										class="price-old">￥8,096.00</span>
								</div>
								<div class="product-action">
									<button type="button" class="add-to-cart"
										onclick="cart.add('56');">
										<i class="fa fa-shopping-cart"></i> <span>加入购物车</span>
									</button>
									<div class="ps-add-buyincang" id="btn-visible">
										<button type="button" class="wishlist"
											onclick="wishlist.add('56');">
											<i class="fa fa-heart-o"></i> <span>收藏</span>
										</button>
										<button type="button" class="compare"
											onclick="compare.add('56');">
											<i class="fa fa-bars"></i> <span>对比</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="product-wrapper">
							<div class="product-image">
								<a href=""> <img
									src="__PUBLIC__/Home/image/product/yanjing3-300x340.jpg"
									alt="普利邦欧美大框墨镜男潮2016太阳镜男炫彩百搭驾驶镜男偏光眼镜男"
									title="普利邦欧美大框墨镜男潮2016太阳镜男炫彩百搭驾驶镜男偏光眼镜男" class="img-responsive" />
								</a>
							</div>
							<div class="product-info">
								<div class="product-name">
									<a href="">普利邦欧美大框墨镜男潮2016太阳镜男炫彩百搭驾驶镜男偏光眼镜男</a>
								</div>
								<div class="product-description">
									<p>..</p>
								</div>
								<div class="product-rating">
									<span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span>
								</div>
								<div class="product-price">
									<span class="price-new">￥5,259.00</span> <span
										class="price-old">￥8,766.00</span>
								</div>
								<div class="product-action">
									<button type="button" class="add-to-cart"
										onclick="cart.add('61');">
										<i class="fa fa-shopping-cart"></i> <span>加入购物车</span>
									</button>
									<div class="ps-add-buyincang" id="btn-visible">
										<button type="button" class="wishlist"
											onclick="wishlist.add('61');">
											<i class="fa fa-heart-o"></i> <span>收藏</span>
										</button>
										<button type="button" class="compare"
											onclick="compare.add('61');">
											<i class="fa fa-bars"></i> <span>对比</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="product-wrapper">
							<div class="product-image">
								<a href=""> <img
									src="__PUBLIC__/Home/image/product/yanjing4-300x340.jpg"
									alt="2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜"
									title="2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜" class="img-responsive" />
								</a>
							</div>
							<div class="product-info">
								<div class="product-name">
									<a href="">2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜</a>
								</div>
								<div class="product-description">
									<p>..</p>
								</div>
								<div class="product-rating">
									<span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span>
								</div>
								<div class="product-price">
									<span class="price-new">￥7,770.00</span> <span
										class="price-old">￥8,867.00</span>
								</div>
								<div class="product-action">
									<button type="button" class="add-to-cart"
										onclick="cart.add('71');">
										<i class="fa fa-shopping-cart"></i> <span>加入购物车</span>
									</button>
									<div class="ps-add-buyincang" id="btn-visible">
										<button type="button" class="wishlist"
											onclick="wishlist.add('71');">
											<i class="fa fa-heart-o"></i> <span>收藏</span>
										</button>
										<button type="button" class="compare"
											onclick="compare.add('71');">
											<i class="fa fa-bars"></i> <span>对比</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="product-wrapper">
							<div class="product-image">
								<a href=""> <img
									src="__PUBLIC__/Home/image/product/yanjing1-300x340.jpg"
									alt="普利邦欧美大框时尚眼镜女潮个性百搭太阳镜女防眩驾驶镜女墨nv"
									title="普利邦欧美大框时尚眼镜女潮个性百搭太阳镜女防眩驾驶镜女墨nv" class="img-responsive" />
								</a>
							</div>
							<div class="product-info">
								<div class="product-name">
									<a href="">普利邦欧美大框时尚眼镜女潮个性百搭太阳镜女防眩驾驶镜女墨nv</a>
								</div>
								<div class="product-description">
									<p>..</p>
								</div>
								<div class="product-rating">
									<span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span>
								</div>
								<div class="product-price">
									<span class="price-new">￥5,499.00</span> <span
										class="price-old">￥8,600.00</span>
								</div>
								<div class="product-action">
									<button type="button" class="add-to-cart"
										onclick="cart.add('72');">
										<i class="fa fa-shopping-cart"></i> <span>加入购物车</span>
									</button>
									<div class="ps-add-buyincang" id="btn-visible">
										<button type="button" class="wishlist"
											onclick="wishlist.add('72');">
											<i class="fa fa-heart-o"></i> <span>收藏</span>
										</button>
										<button type="button" class="compare"
											onclick="compare.add('72');">
											<i class="fa fa-bars"></i> <span>对比</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<ul id="banner0" class="banners">
					<li class="item"><a href=""> <img
							src="__PUBLIC__/Home/image/banner/hengfu1-1140x382.jpg"
							alt="hengfu-xia" class="img-responsive" />
					</a></li>
				</ul>
				<h2 class="widget-title">
					<span>最新商品</span>
				</h2>
				<div class="row">
				<volist name="goods_list" id="goods">
					<div
						class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="product-wrapper">
							<div class="product-image">
								<a href=""> <img
									src="__PUBLIC__/Home/image/product/yanjing5-300x340.jpg"
									alt="普利邦 欧美时尚大框优雅墨镜女款复古个性防强光太阳镜简约眼镜"
									title="普利邦 欧美时尚大框优雅墨镜女款复古个性防强光太阳镜简约眼镜" class="img-responsive" />
								</a>
							</div>
							<div class="product-info">
								<div class="product-name">
									<a href="{:U('Home/Shop/goods',['id'=>$goods['goods_id']])}">{$goods['name']}</a>
								</div>
								<div class="product-description">
									<p>..</p>
								</div>
								<div class="product-rating">
									<span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span>
								</div>
								<div class="product-price">
									<span class="price-new">￥2,999.00</span> <span
										class="price-old">￥3,799.00</span>
								</div>
								<div class="product-action">
									<button type="button" class="add-to-cart"
					onclick="addCart({$goods['goods_id']},'{:U('Home/Shop/goods',['id'=>$goods['goods_id']])}')">
										<i class="fa fa-shopping-cart"></i> <span>加入购物车</span>
									</button>
									<div class="ps-add-buyincang" id="btn-visible">
										<button type="button" class="wishlist"
											onclick="wishlist.add('80');">
											<i class="fa fa-heart-o"></i> <span>收藏</span>
										</button>
										<button type="button" class="compare"
											onclick="compare.add('80');">
											<i class="fa fa-bars"></i> <span>对比</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</volist>
				
				<script type="text/javascript">
				   function addCart(goods_id,locurl)
				   {   
					   var flag = false; 
					   var url = '{:U('Home/Checkout/hasOption')}';
					   $.ajax({
						   url:url,
						   type:'get',
						   dataType: 'json',
						   data:{
							   goods_id:goods_id
						   },
						   async:false,
						   success: function(response)
						   {
							     if(response.option == 1)
							     {
							    	 location.href = locurl;
							    	 flag = true;  
							     }
							    
						   }
					   });
					   
					   
					   if(flag)
						 {
						   return ;
						 }
					   
					   var url = '{:U('Home/Checkout/addCart')}';
					   $.ajax({
						   type: "POST",
						   'url': url,
						   data: {
							   'is_ajax':1,
							   'goods_id':goods_id,
						   },
						   dataType:'json',
						   success: function(response){
							  if (response.error == '0') {
		                              alert('商品添加购物车');
		                            } 
						   }
						});
				   }
				   
				
				</script>
				</div>
				<ul id="banner1" class="banners">
					<li class="item"><a href=""> <img
							src="__PUBLIC__/Home/image/banner/hengfu2-1140x587.jpg" alt="233"
							class="img-responsive" />
					</a></li>
				</ul>
				<h2 class="widget-title">
					<span>特价商品</span>
				</h2>
				<div class="row">
					<div
						class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="product-wrapper">
							<div class="product-image">
								<a href=""> <img
									src="__PUBLIC__/Home/image/product/yanjing4-300x340.jpg"
									alt="2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜"
									title="2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜" class="img-responsive" />
								</a>
							</div>
							<div class="product-info">
								<div class="product-name">
									<a href="">2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜</a>
								</div>
								<div class="product-description">
									<p>..</p>
								</div>
								<div class="product-rating">
									<span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span>
								</div>
								<div class="product-price">
									<span class="price-new">￥7,770.00</span> <span
										class="price-old">￥8,867.00</span>
								</div>
								<div class="product-action">
									<button type="button" class="add-to-cart"
										onclick="cart.add('71');">
										<i class="fa fa-shopping-cart"></i> <span>加入购物车</span>
									</button>
									<div class="ps-add-buyincang" id="btn-visible">
										<button type="button" class="wishlist"
											onclick="wishlist.add('71');">
											<i class="fa fa-heart-o"></i> <span>收藏</span>
										</button>
										<button type="button" class="compare"
											onclick="compare.add('71');">
											<i class="fa fa-bars"></i> <span>对比</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="product-wrapper">
							<div class="product-image">
								<a href=""> <img
									src="__PUBLIC__/Home/image/product/yanjing12.1-300x340.jpg"
									alt="普利邦 欧美圆框黑色炫酷太阳镜男款圆框防紫外线墨镜前卫驾驶镜"
									title="普利邦 欧美圆框黑色炫酷太阳镜男款圆框防紫外线墨镜前卫驾驶镜" class="img-responsive" />
								</a>
							</div>
							<div class="product-info">
								<div class="product-name">
									<a href="">普利邦 欧美圆框黑色炫酷太阳镜男款圆框防紫外线墨镜前卫驾驶镜</a>
								</div>
								<div class="product-description">
									<p>..</p>
								</div>
								<div class="product-rating">
									<span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span>
								</div>
								<div class="product-price">
									<span class="price-new">￥3,199.00</span> <span
										class="price-old">￥4,999.00</span>
								</div>
								<div class="product-action">
									<button type="button" class="add-to-cart"
										onclick="cart.add('73');">
										<i class="fa fa-shopping-cart"></i> <span>加入购物车</span>
									</button>
									<div class="ps-add-buyincang" id="btn-visible">
										<button type="button" class="wishlist"
											onclick="wishlist.add('73');">
											<i class="fa fa-heart-o"></i> <span>收藏</span>
										</button>
										<button type="button" class="compare"
											onclick="compare.add('73');">
											<i class="fa fa-bars"></i> <span>对比</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="product-wrapper">
							<div class="product-image">
								<a href=""> <img
									src="__PUBLIC__/Home/image/product/yanjing5-300x340.jpg"
									alt="普利邦 欧美时尚大框优雅墨镜女款复古个性防强光太阳镜简约眼镜"
									title="普利邦 欧美时尚大框优雅墨镜女款复古个性防强光太阳镜简约眼镜" class="img-responsive" />
								</a>
							</div>
							<div class="product-info">
								<div class="product-name">
									<a href="">普利邦 欧美时尚大框优雅墨镜女款复古个性防强光太阳镜简约眼镜</a>
								</div>
								<div class="product-description">
									<p>..</p>
								</div>
								<div class="product-rating">
									<span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span>
								</div>
								<div class="product-price">
									<span class="price-new">￥2,999.00</span> <span
										class="price-old">￥3,799.00</span>
								</div>
								<div class="product-action">
									<button type="button" class="add-to-cart"
										onclick="cart.add('80');">
										<i class="fa fa-shopping-cart"></i> <span>加入购物车</span>
									</button>
									<div class="ps-add-buyincang" id="btn-visible">
										<button type="button" class="wishlist"
											onclick="wishlist.add('80');">
											<i class="fa fa-heart-o"></i> <span>收藏</span>
										</button>
										<button type="button" class="compare"
											onclick="compare.add('80');">
											<i class="fa fa-bars"></i> <span>对比</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="product-wrapper">
							<div class="product-image">
								<a href=""> <img
									src="__PUBLIC__/Home/image/product/yanjing9.1-300x340.jpg"
									alt="普利邦欧美个性太阳镜女款大框气质墨镜女潮驾驶镜防眩光司机镜"
									title="普利邦欧美个性太阳镜女款大框气质墨镜女潮驾驶镜防眩光司机镜" class="img-responsive" />
								</a>
							</div>
							<div class="product-info">
								<div class="product-name">
									<a href="">普利邦欧美个性太阳镜女款大框气质墨镜女潮驾驶镜防眩光司机镜</a>
								</div>
								<div class="product-description">
									<p>..</p>
								</div>
								<div class="product-rating">
									<span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span> <span class="fa fa-stack"> <i
										class="fa fa-star fa-stack-2x"></i>
									</span>
								</div>
								<div class="product-price">
									<span class="price-new">￥5,012.00</span> <span
										class="price-old">￥8,766.00</span>
								</div>
								<div class="product-action">
									<button type="button" class="add-to-cart"
										onclick="cart.add('76');">
										<i class="fa fa-shopping-cart"></i> <span>加入购物车</span>
									</button>
									<div class="ps-add-buyincang" id="btn-visible">
										<button type="button" class="wishlist"
											onclick="wishlist.add('76');">
											<i class="fa fa-heart-o"></i> <span>收藏</span>
										</button>
										<button type="button" class="compare"
											onclick="compare.add('76');">
											<i class="fa fa-bars"></i> <span>对比</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
</block>